:root{
    --background-nav: #eef7ff;
    --off_white:#FCFAFF;

    --off_white:#FCFAFF;
    --off_white: #FCFAFF ;
    /* to use */
    --off_white:#FCFAFF ;



    --aqua-pale-blue:#B7ECEF;
    --verdigris:#78bdc1 ;
    --electric_blue:#35F4FF;


    --pomp_power:#81739F;
    --african_violet:#A187B1;
    --thistle:#DDC4EC;
    --silver:#cecece;
    --magnolia:#EAE3EC ;

    --rosy_brow: #C28B8B ;

    --title-text: #191b23;
    --raisin_black:#332F36;
    --sub-title-text:#474747;
    --davy_gray:#545454;
    --dim_green_grey:#596162;
    --davy_gray_pale:#565458 ;
    --battleship_grey: #898989 ;



    --blue:#0000FF;
    --blue_gray:#6195D6;
    --vista_blue:#7f9af8;
    --progress-blue:#abbfeb;

}

body {
    margin: 0;
    padding: 0;
}



/* navbar --------------------------------------------------------------------------- */
nav {
    height: 10.5%;
    left: 0px;
    top: 0px;
    background: var(--background-nav);
    z-index: 1000 !important;
    width: 100%;
}

.offcanvas {
    z-index: 400 !important;
    width: 25% !important;
}

.student-profile {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    margin-top: 11px;
    border: 0;
}

.title {
    margin-left: 46px !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    margin-top: -15px;
}

.title-input {
    border: 0;
    background: none;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    color: var(--title-text);
}

.title-input-text {
    border: 0;
    background: none;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    font-size: 19px;
    color: var(--title-text);
    margin: 0;
}


.sub-title-input {
    border: 0;
    background: none;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    color: var(--sub-title-text);
}

.sub-title-input-text {
    border: 0;
    line-height: 30px;
    background: none;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    color: var(--sub-title-text);
    margin-bottom: 0px;
}

.confirmation-title {
    padding-top: 0%;
    padding-left: 36px;
    margin-right: -18px;
}








/* main progress bar ------------------------------------------------------------------------------------------*/
.main-progress-bar {
    border-radius: 0px !important;
    background: var(--off_white);
    box-shadow: inset 0px 4px 6px #0e313538 !important;
    border: 0;
    z-index: 600;
}

.main-progress-bar-scale {
    background-color: var(--progress-blue) !important;
    border-radius: 0px 16px 16px 0px;
    z-index: 600;
}

.main-progress-bar-value {
    color: white;
    text-shadow: 0px 0px 27px white !important;
    z-index: 600;
    font-size: 12px !important;
    color: white;
}








/* chapter link --------------------------------------------------------------------------*/
.chapter-background {
    width: 232px;
    height: 50px;
    padding-left: 5%;
    margin-top: 18%;
    background: var(--aqua-pale-blue);
    border: 0;
    position: relative;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: -17px 13px 11px #ffffff38;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: var(--davy_gray_pale);
    transition: 1.2s;
    font-size: 18px;
}


.chapter-background::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-radius: 40px;
    transition: 1.2s;
}

.chapter-background::before {
    content: "";
    position: absolute;
    right: -10px;
    bottom: 0;
    width: 0px;
    height: 0px;
    border-left: 25px solid var(--aqua-pale-blue);
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-radius: 50px;
    transition: 1.2s;
}

.chapter-background.open {
    width: 267px;
    height: 50px;
    padding-left: 5%;
    margin-top: 18%;
    background: var(--thistle);
    border: 0;
    position: relative;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: -17px 13px 11px #ffffff38;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 21px;
    padding: 13px;
    display: flex;
    align-items: center;
    color: var(--off_white);
}

.chapter-background.open::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-radius: 40px;
}

.chapter-background.open::before {
    content: "";
    position: absolute;
    right: -10px;
    bottom: 0;
    width: 0px;
    height: 0px;
    border-left: 25px solid var(--thistle);
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-radius: 50px;
}




/* task link ----------------------------------------------------------------------------*/
.task {
    margin-left: 49px;
    margin-top: 29px;
    border-bottom: 3px solid var(--aqua-pale-blue);
    width: 155px;
    border-radius: 3px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    color: var(--dim_green_grey);
}

.task-icon {
    color: var(--verdigris);
    padding-right: 5%;
    animation: 2s;
    animation-delay: 3s;

}

.add-task {
    margin-left: 49px;
    margin-top: 29px;
    border-bottom: 3px dashed var(--silver);
    width: 155px;
    border-radius: 3px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: bolder;
    font-size: 18px;
    line-height: 29px;
    color: var(--silver);
}

.add-task-icon {
    color: var(--silver);
    padding-right: 5%;
}

.task.active {
    margin-left: 32%;
    border-color: var(--thistle);
}

.active.task-icon {
    color: var(--pomp_power);
}

.active.task-icon::before {
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

/* toggle chapter-task button ----------------------------------------------------------------------- */

.accordion__question::after {
    display: block;
    transition: transform 0.3s ease-in-out;
}

.accordion__question:focus,
.accordion__question:focus-visible {
    border: none;


}

.accordion__question.open {
    font-weight: 700;


}

.accordion__collapse {
    height: 100% !important;
    transition: height 0.3s ease-in-out;
}

.accordion__collapse.collapse {
    display: none;


}

.accordion__collapse.collapsing {
    height: 0;
    overflow: hidden;


}

.accordion__collapse.open {
    display: block !important;
}

.open::after {
    transform: rotate(45deg);
}




/* add task model --------------------------------------------------------------------------------------------- */
.add-task-model {
    background: linear-gradient(130.08deg, var(--off_white) 25.1%, #d1cfff 135.35%);
    border-radius: 25px !important;
    border: 0;
}





/* sidebar ------------------------------------------------------------------------------ */
.side-navbar {

    background-color: var(--background-nav) !important;
    transition: 0.5s !important;

}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: 0;
}


.sidebarbtn {
    position: inherit;
    font-size: 24px;
    background: var(--off_white);
    width: 59px;
    height: 44px;
    padding: 0;
    margin: 0;
    border-radius: 40px;
    margin-left: -17px;
    color: var(--blue_gray);
    border: none;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.10);
}

.sidebar_icon {

    -o-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}




/* main page here and sidebar --------------------------------------------------------------------------------------- */

main {
    text-align: center;
}

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: 0;
}

.list-group-item.list-group-item-action {
    background: transparent;
    padding-right: 0;
    margin-right: 0px;
    margin-left: 0;
    padding-left: 0;
    border: 0;
}

.list-group-item:hover {
    background: transparent !important;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
        margin-left: -15rem;
    }
}







/* file submition --------------------------------------------------------------------------------------- */
.submition-container {
    width: 87% !important;
}

.submition-background {
    background: var(--off_white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.submition-icon {
    color: var(--blue_gray);
    font-size: 62px;
}

.submition-title {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    display: flex;
    align-items: center;
    color: black;
}

.submition-date {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    align-items: center;
    color: var(--battleship_grey);
}

.submition-deadline-title,
.submition-deadline {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 33px;
    display: flex;
    align-items: center;
    color: var(--battleship_grey);
}

.submition-deadline-time-left {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    margin: auto;
    align-items: center;
    color: var(--rosy_brow);
}

.student-statement-container {
    background: var(--off_white);
    border-radius: 30px;
}




/* progress bar input ---------------------------------------------------------------------------------------  */
.container-progress-input {
    width: 100% !important;
    margin: auto;
}

.row-progress-input {
    width: 90%;
    height: 26px;
    padding-top: 2%;
    margin: auto;
}

.progress-input-container {
    background: var(--off_white);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.14);
    border-radius: 25px;
    width: 70% !important;
    height: 104px;
}

.progress-bar-input {
    width: 100%;
    background: var(--magnolia);
    border-radius: 25px;
    border: 0;
    z-index: 600;
    margin: auto;
    position: inherit;
}

.main-progress-bar-input-scale {
    z-index: 600;
    background: var(--vista_blue) !important;
    box-shadow: 0px 0px 27px #ffffffb3;
    border-radius: 25px;
}

.main-progress-bar-input-value {
    color: white;
    text-shadow: 0px 0px 27px #ffffffad !important;
    z-index: 600;
    font-size: 12px;
    color: white;
}

.slider-container {
    width: 100%;
    margin: 0px auto;
    background: transparent;
    top: -16px;
    z-index: 1000;
    position: relative;
}

.slider {
    width: 100%;
    height: 20px;
    z-index: 600;
    margin: 0%;
}

.slider[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
.slider[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

/******** Firefox ********/
.slider[type="range"]::-moz-range-track {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
.slider[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    margin-top: -12px;
    /* Centers thumb on the track */
    background-color: transparent;
    height: 2rem;
    width: 1rem;
}

/******** Firefox ********/
.slider[type="range"]::-moz-range-thumb {
    border: none;
    /*Removes extra border that FF applies*/
    border-radius: 0;
    /*Removes default border-radius that FF applies*/
    background-color: transparent;
    height: 2rem;
    width: 1rem;
}

.progress-bar-input {
    z-index: 0 !important;
}

.progress-text {
    width: 90%;
    margin: auto;
    padding-top: 33px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    color: var(--african_violet);
}

.progress-submit-button {
    position: static;
    margin-top: 4%;
    border-radius: 25px !important;
    background-color: var(--aqua-pale-blue) !important;
    color: var(--raisin_black) !important;
    border: 0 !important;
    box-shadow: 0px 4px 4px #00000040;
}









/* statement --------------------------------------------------------------------------------------- */
.student-statement-container {
    width: 81% !important;
    background: var(--off_white);
    box-shadow: 0px 4px 4px #00000040;
}

.statement-porfile-text {
    padding-top: 2%;
    padding-bottom: 0%;
    padding-left: 1%;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: black;
}

.statement-porfile-text:hover {
    color: black;
}

.underline {
    width: 98%;
    height: 5px;
    border-radius: 48px;
    color: var(--aqua-pale-blue);
    background-color: var(--electric_blue);
}

.text-area {
    display: inline-table !important;
    overflow: hidden;
    border: none;
    border-radius: 25px !important;
}

.edit-button,
.update-button {
    background: var(--thistle);
    border-radius: 30px;
    border: none;
    width: 66px;
    height: 27px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: var(--davy_gray);
}

.statment-edit-container {
    display: none;
}
















/* HISTORY FILES */
.history_files_button {
    background: var(--aqua-pale-blue);
    box-shadow: 0px 2px 3px #00000061;
    border-radius: 25px;
    width: 74%;
    height: 35px;
    border: none;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    color: var(--raisin_black);
}

.history_files_container {
    background: var(--off_white);
    box-shadow: 0px 4px 4px #00000080;
    border-radius: 25px;
    width: 72% !important;
}

.history_file_icon {
    color: var(--blue_gray);
    font-size: 32px;
}


.history_file_row {
    background: white;
    border-radius: 15px;
}

.file_history_text {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 30px;
    color: black;
}


.col-md-7 .col-md-1 .col-md-4 {
    border: 1px solid var(--blue) !important;
}




/* GUIDLINE AND TEMPLATE FOOTER ------------------------*/
.guidline_container,
.template_container {
    border-bottom: 3px solid var(--aqua-pale-blue);
}

.guidline_container>a,
.template_container>a {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-decoration:none ;
    display: flex;
    align-items: center;
    color: black;
}
